######################
# Eclipse
######################
.project

######################
# Intellij
######################
.idea/

######################
# Visual Studio Code
######################
.vscode/

*.pbf